<div class="panel-header panel-header-sm">header
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Details Risque</h5>
        </div>
        <div class="card-body">
          
          <form [formGroup]="risquesForm"  novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dateDetection">Date de Detetction <code>*</code></label>
                  <input type="datetime-local" readonly class="form-control" formControlName="dateDetection" name="dateDetection" id="dateDetection">
                  <span class="mt-2" *ngIf="risquesForm.controls['dateDetection'].invalid && (risquesForm.controls['dateDetection'].dirty || risquesForm.controls['dateDetection'].touched)" class="alert">
                    <span *ngIf="risquesForm.controls['dateDetection'].errors.required" class="text-danger">
                    {{"Le champ date de detction est obligatoire"}}
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="type">Type <code>*</code></label>
                  <select name="type" readonly formControlName="type" id="type" class="form-control">
                    <option value="">{{"Choisir un type"}}</option>
                     <option value="Qualite produit">{{"Qualite produit"}}</option>
                     <option value="Qualite service">{{"Qualite service"}}</option>
                     <option value="Modalite de paiement">{{"Modalite de paiement"}}</option>
                     <option value="Prix">{{"Prix"}}</option>
                     <option value="Delais">{{"Delais"}}</option>
                     <option value="Structure">{{"Structure"}}</option>


                  </select>
                  <span class="mt-2" *ngIf="risquesForm.controls['type'].invalid && (risquesForm.controls['type'].dirty || risquesForm.controls['type'].touched)" class="alert">
                    <span *ngIf="risquesForm.controls['type'].errors.required" class="text-danger">
                    {{"Le champ type est obligatoire"}}
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="niveau">Niveau <code>*</code></label>
                  <select readonly name="niveau" formControlName="niveau" name="niveau" id="niveau" class="form-control">
                    <option value="">{{"Choisir un niveau"}}</option>
                    <option value="Aucun Risque">{{"Aucun Risque"}}</option>
                    <option value="Risque mineur">{{"Risque mineur"}}</option>
                    <option value="Risque majeur">{{"Risque majeur"}}</option>
                    <option value="Risque mettant en jeu la securite des personnes">{{"Risque mettant en jeu la securite des personnes"}}</option>
                  </select>
                  <span class="mt-2" *ngIf="risquesForm.controls['niveau'].invalid && (risquesForm.controls['niveau'].dirty || risquesForm.controls['niveau'].touched)" class="alert">
                    <span *ngIf="risquesForm.controls['niveau'].errors.required" class="text-danger">
                    {{"Le champ niveau est obligatoire"}}
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="acteur">Acteur <code>*</code></label>
                  <select name="acteur" readonly formControlName="acteur" id="acteur" class="form-control">
                    <option value="">{{"Choisir un acteur"}}</option>
                     <option value="Administrateur">{{"Administrateur"}}</option>
                     <option value="Professeur">{{"Professeur"}}</option>
                     <option value="Etudiant">{{"Etudiant"}}</option>


                  </select>
                  <span class="mt-2" *ngIf="risquesForm.controls['acteur'].invalid && (risquesForm.controls['acteur'].dirty || risquesForm.controls['acteur'].touched)" class="alert">
                    <span *ngIf="risquesForm.controls['acteur'].errors.required" class="text-danger">
                    {{"Le champ Acteur est obligatoire"}}
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lieuOuPromotion">Source <code>*</code></label>
                  <input type="text" readonly class="form-control" formControlName="lieuOuPromotion" name="lieuOuPromotion" id="lieuOuPromotion">
                  <span class="mt-2" *ngIf="risquesForm.controls['lieuOuPromotion'].invalid && (risquesForm.controls['lieuOuPromotion'].dirty || risquesForm.controls['lieuOuPromotion'].touched)" class="alert">
                    <span *ngIf="risquesForm.controls['lieuOuPromotion'].errors.required" class="text-danger">
                    {{"Le champ Source est obligatoire"}}
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="evolution">evolution <code>*</code></label>
                  <select name="evolution" readonly formControlName="evolution" id="evolution" class="form-control">
                    <option value="">{{"Choisir une evolution"}}</option>
                     <option value="Evolution vers moins de risque">{{"Evolution vers moins de risque"}}</option>
                     <option value="Pas de changement">{{"Pas de changement"}}</option>
                     <option value="Evolution vers plus de risque">{{"Evolution vers plus de risque"}}</option>


                  </select>
                </div>
              </div>
              
            
              <!--<div class="col-md-12">
                <div class="form-group">
                  <label for="pieceJointe">Piece Jointe <code>*</code></label>
                  <input type="file" readonly class="form-control"  formControlName="pieceJointe" name="pieceJointe" id="pieceJointe">
                  <span class="mt-2" *ngIf="risquesForm.controls['pieceJointe'].invalid && (risquesForm.controls['pieceJointe'].dirty || risquesForm.controls['pieceJointe'].touched)" class="alert">
                    <span *ngIf="risquesForm.controls['pieceJointe'].errors.required" class="text-danger">
                    {{"Le champ Piece Jointe est obligatoire"}}
                    </span>
                  </span>
                </div>
              </div>-->
              <div class="col-md-12">
                <div class="form-group">
                  <label for="description">Description <code>*</code></label>
                  <textarea readonly formControlName="description" name="description" id="description" rows="4" cols="80" class="form-control" placeholder="Here can be your description" ></textarea>
                  <span class="mt-2" *ngIf="risquesForm.controls['description'].invalid && (risquesForm.controls['description'].dirty || risquesForm.controls['description'].touched)" class="alert">
                    <span *ngIf="risquesForm.controls['description'].errors.required" class="text-danger">
                    {{"Le champ description est obligatoire"}}
                    </span>
                  </span>
                </div>
              </div>
            </div>
            
          </form>
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">Liste des Actions Risque</h4>
            </div>
            <div class="col-md-6">
              <a (click)="openPopupAdd()"class="float-right btn btn-info">Ajouter Action</a>
  
            </div>
          </div>
         
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>
                  CIN
                </th>
                <th>
                  Responsable
                </th>
                <th>
                  Date Decision
                </th>
                <th>
                  Decision 
                </th>
              
               <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let action of actionRisque">
                  <td>
                    {{action.cin}}
                  </td>
                  <td>
                    {{action.responsable}}
                  </td>
                  <td >
                    {{action.dateDecision | date}}
                  </td>
                  <td>
                    {{action.libelle}}
                  </td>
                  <td >
                    <a class="btn btn-info btn-sm mr-2" (click)="openPopupEdit(action.idActionRisque)"  title="Modifier"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger btn-sm mr-2" (click)="onDeleteActionRisque(action.idActionRisque)" title="Supprimer"><i class="fa fa-trash" aria-hidden="true"></i></a>

                  </td>
                </tr>


              </tbody>
            </table>
           
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">GeeksForGeeks</h4>
      </div>
      <div class="modal-body">
        <p>One Stop Solution for all CS problems</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>-->
<div class="modal"  [ngStyle]="{'display':displayStyleAdd}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTite}}</h5>
        <button type="button" (click)="closePopupAdd()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="actionFormGroup" (ngSubmit)="onSubmitAddActionRisque()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="cin">CIN <code>*</code></label>
                <input type="text"  class="form-control" formControlName="cin" name="cin" id="cin">
                <span class="mt-2" *ngIf="actionFormGroup.controls['cin'].invalid && (actionFormGroup.controls['cin'].dirty || actionFormGroup.controls['cin'].touched)" class="alert">
                  <span *ngIf="actionFormGroup.controls['cin'].errors.required" class="text-danger">
                  {{"Le champ CIN est obligatoire"}}
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="responsable">Responsable <code>*</code></label>
                <input type="text"  class="form-control" formControlName="responsable" name="responsable" id="responsable">
                <span class="mt-2" *ngIf="actionFormGroup.controls['responsable'].invalid && (actionFormGroup.controls['responsable'].dirty || actionFormGroup.controls['responsable'].touched)" class="alert">
                  <span *ngIf="actionFormGroup.controls['responsable'].errors.required" class="text-danger">
                  {{"Le champ Responsable est obligatoire"}}
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="dateDecision">Date Decision<code>*</code></label>
                <input type="datetime-local"  class="form-control" formControlName="dateDecision" name="dateDecision" id="dateDecision">
                <span class="mt-2" *ngIf="actionFormGroup.controls['dateDecision'].invalid && (actionFormGroup.controls['dateDecision'].dirty || actionFormGroup.controls['dateDecision'].touched)" class="alert">
                  <span *ngIf="actionFormGroup.controls['dateDecision'].errors.required" class="text-danger">
                  {{"Le champ Date Decision est obligatoire"}}
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="libelle">Decision <code>*</code></label>
                <textarea  formControlName="libelle" name="libelle" id="libelle" rows="4" cols="80" class="form-control" placeholder="Here can be your libelle" ></textarea>
                <span class="mt-2" *ngIf="actionFormGroup.controls['libelle'].invalid && (actionFormGroup.controls['libelle'].dirty || actionFormGroup.controls['libelle'].touched)" class="alert">
                  <span *ngIf="actionFormGroup.controls['libelle'].errors.required" class="text-danger">
                  {{"Le champ Decision est obligatoire"}}
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="float-right">
              <button class="btn btn-success">Valider</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>


<div class="modal"  [ngStyle]="{'display':displayStyleEdit}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTite}}</h5>
        <button type="button" (click)="closePopupEdit()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="actionFormGroupEdit" (ngSubmit)="onSubmitEditActionRisque()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="cin">CIN <code>*</code></label>
                <input type="text"  class="form-control" formControlName="cin" name="cin" id="cin">
                <span class="mt-2" *ngIf="actionFormGroupEdit.controls['cin'].invalid && (actionFormGroupEdit.controls['cin'].dirty || actionFormGroupEdit.controls['cin'].touched)" class="alert">
                  <span *ngIf="actionFormGroupEdit.controls['cin'].errors.required" class="text-danger">
                  {{"Le champ CIN est obligatoire"}}
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="responsable">Responsable <code>*</code></label>
                <input type="text"  class="form-control" formControlName="responsable" name="responsable" id="responsable">
                <span class="mt-2" *ngIf="actionFormGroupEdit.controls['responsable'].invalid && (actionFormGroupEdit.controls['responsable'].dirty || actionFormGroupEdit.controls['responsable'].touched)" class="alert">
                  <span *ngIf="actionFormGroupEdit.controls['responsable'].errors.required" class="text-danger">
                  {{"Le champ Responsable est obligatoire"}}
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="dateDecision">Date Decision<code>*</code></label>
                <input type="date"  class="form-control" formControlName="dateDecision" name="dateDecision" id="dateDecision">
                <span class="mt-2" *ngIf="actionFormGroupEdit.controls['dateDecision'].invalid && (actionFormGroupEdit.controls['dateDecision'].dirty || actionFormGroupEdit.controls['dateDecision'].touched)" class="alert">
                  <span *ngIf="actionFormGroupEdit.controls['dateDecision'].errors.required" class="text-danger">
                  {{"Le champ Date Decision est obligatoire"}}
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="libelle">Decision <code>*</code></label>
                <textarea  formControlName="libelle" name="libelle" id="libelle" rows="4" cols="80" class="form-control" placeholder="Here can be your libelle" ></textarea>
                <span class="mt-2" *ngIf="actionFormGroupEdit.controls['libelle'].invalid && (actionFormGroupEdit.controls['libelle'].dirty || actionFormGroupEdit.controls['libelle'].touched)" class="alert">
                  <span *ngIf="actionFormGroupEdit.controls['libelle'].errors.required" class="text-danger">
                  {{"Le champ Decision est obligatoire"}}
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="float-right">
              <button class="btn btn-success">Valider</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>